<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Окно добавления пользователя</title>
</head>
<body>
<h2>Форма добавления пользователя</h2>

<form action="/admin/add" method="POST" th:object="${user}">

    <label for="name">Name:</label>
    <input type="text" id="name" th:field="*{name}" placeholder="Введите имя" required>
    <br><br>


    <label for="age">Age:</label>
    <input type="number" id="age" th:field="*{age}" placeholder="Введите возраст" required>
    <br><br>


    <label for="email">Email:</label>
    <input type="email" id="email" th:field="*{email}" placeholder="Введите почту" required>
    <br><br>


    <label for="password">Password:</label>
    <input type="password" id="password" th:field="*{password}" placeholder="Введите пароль" required>
    <br><br>

    <label for="role">Role:</label>
    <select id="role" th:field="*{role}" multiple="multiple" required>
        <option value="USER">USER</option>
        <option value="ADMIN">ADMIN</option>
    </select>
    <br><br>

    <input type="submit" value="Add User">
</form>
<div th:if="${errors != null}" class="error-container">
    <p th:each="error : ${errors}" th:text="${error}" class="error"></p>
</div>

<div th:insert="fragments/navbar :: logout"></div>

</body>
</html>
