<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Окно добавления пользователя</title>
</head>
<body>
<h2>Форма добавления пользователя</h2>

<form action="/users/add" method="POST" th:object="${user}">

    <label for="name">Name:</label>
    <input type="text" id="name" name="name" placeholder="Введите имя" required>
    <br><br>
    <div th:if="${#fields.hasErrors('name')}"> Имя пользователя может иметь длину от 2 до 30</div>

    <label for="age">Age:</label>
    <input type="number" id="age" name="age" placeholder="Введите возраст" required>
    <br><br>

    <div th:if="${#fields.hasErrors('age')}"> Возраст должен быть больше 0</div>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" placeholder="Ввежиье почту" required>
    <br><br>
    <div th:if="${#fields.hasErrors('email')}">Неверный формат почты</div>
    <input type="submit" value="Add User">
</form>

</body>
</html>
