<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Профиль пользователя</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <script
            src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid d-flex justify-content-between">
        <p class="text-white">
            Login:
            <span id="loggedUserName"></span>
            Roles:
            <span id="loggedUserRoles"></span>
        </p>
        <a class="navbar-brand text-white" href="/logout">Logout</a>
    </div>
</nav>
<div class="container-fluid">


    <div class="row">

        <div class="col-md-2 bg-light p-3 min-vh-100">
            <ul class="nav flex-column nav-tabs">
                <li class="nav-item" id="admin_nav">
                    <a class="nav-link text-dark" href="/admin">Admin Panel</a>
                </li>
                <li class="nav-item" id="user_nav">
                    <a class="nav-link text-dark" href="/user">User Panel</a>
                </li>
            </ul>
        </div>

        <div class="col-md-10 p-4">
            <h1 class="text-center mb-4">Профиль пользователя</h1>
            <table id="user_table" class="table table-bordered table-striped w-75 mx-auto text-center">
                <thead class="table-dark">
                <tr>
                    <th>Имя</th>
                    <th>Возраст</th>
                    <th>Email</th>
                </tr>
                </thead>
                <tbody>
                <tr></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $.ajax({
            url: '/api/user/profile',
            method: 'GET',
            success: function (loggedUser) {
                let roles = loggedUser.role;

                $("#loggedUserName").text(loggedUser.name);

                let rolesText = roles.map(function (role) {
                    return role;
                }).join(', ');

                $("#loggedUserRoles").text(rolesText);

                if (roles.includes("ADMIN")) {
                    $("#admin_nav").show()
                } else {
                    $("#admin_nav").hide()
                }

                if (roles.includes("USER")) {
                    $("#user_nav").show()
                } else {
                    $("#user_nav").hide()
                }

                $('#user_table tr:last').after('<tr> ' +
                    '<td>' + loggedUser.name + ' </td>' +
                    '<td>' + loggedUser.age + ' </td>' +
                    '<td>' + loggedUser.email + ' </td>' +


                    '</tr>'
                );
            },
            error: function () {
                alert("Не удалось загрузить данные о пользователе.");
            }
        });
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>
