<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 20px;
            text-align: center;
            border: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }

        td {
            font-size: 16px;
        }
    </style>
</head>
<body>
<table>

    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Password</th>
        <th>Role</th>
        <th>Update</th>
        <th>Remove</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.name}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.password}"></td>
        <td>
            <span th:each="role : ${user.roles}" th:text="${role}"></span>
        </td>
        <td>
            <a th:href="@{/admin/update/{id}(id=${user.id})}">Edit</a>
        </td>
        <td>
            <a th:href="@{/admin/delete/{id}(id=${user.id})}">Delete</a>
        </td>
    </tr>
</table>
<p th:if="${users.isEmpty()}">Юзеров нет</p>
<p th:if="${error}" th:text="${error}"></p>

<a href="/admin/add">Добавить пользователя </a>


<div th:insert="fragments/navbar :: logout"></div>
</body>
</html>